.Card {
    display: flex;
    padding: 15px;
}

.normal {
    background: var(--dark-bg-redesigned);
    border-radius: 12px;
}

.round {
    border-radius: 40px;
}

.light {
    background: var(--light-bg-redesigned);
}

.outlined {
    border: 1px solid var(--accent-redesigned);
}

.max {
    width: 100%;
}

.padding_0 {
    padding: 0;
}

.padding_8 {
    padding: 8px;
}

.padding_16 {
    padding: 16px;
}

.padding_24 {
    padding: 24px;
}

.gap_8 {
    gap: 8px;
}

.gap_16 {
    gap: 16px;
}

.gap_24 {
    gap: 24px;
}

.gap_32 {
    gap: 32px;
}

.justify__center {
    justify-content: center;
}

.justify__end {
    justify-content: flex-end;
}

.justify__between {
    justify-content: space-between;
}

.align__start {
    align-items: flex-start;
}

.align__center {
    align-items: center;
}

.align__end {
    align-items: flex-end;
}

.direction__row {
    flex-direction: row;
}

.direction__column {
    flex-direction: column;
}
